/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --sidebar-btn-clr: #1B9DD9;
    --card-border-clr: #FFD93D;
    --bg-clr: #FFFFFF;
    --main-bg-clr: #ECEFF1;

    --font-weight: 600;

    --gap: 1rem;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.svgs {
    width: 3rem;
    fill: #FFFFFF;
}

.sidebar-svg, .header-svgs {
    width: 2rem;
}

.main-svgs {
  width: 1.5rem;
}

.container {
    display:grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 3.5rem;
    background-color: var(--sidebar-btn-clr);
    color: white;
    padding-top: 0.6rem;
}

#aside-title {
    display: grid;
    grid-template-columns: 0.92fr 2fr;
    justify-content: center;
}

#aside-title>img {
    justify-self: center;
    align-self: center;
}

#aside-title>p {
    font-size: 2rem;
    font-weight: var(--font-weight);
    justify-self: start;
    align-self: center;
}

#socials {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#sidebar-svgs {
    display: grid;
    grid-template-rows: repeat(6, 0.9fr);
    justify-content: center;
}

#socials-list {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: start;
}

#settings {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#settings-svgs {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

#settings-list {
    display: grid;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.3rem;
    font-weight: var(--font-weight);
}

header {
    grid-area: header;
    display: grid;
    gap: var(--gap);
    box-shadow: 2px 2px 2px 2px hsl(0, 0%, 85%);
}

#top-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#admin-profile-top, #bottom-profile>img {
  width: 5rem;
}

#header-input {
  display: grid;
  grid-template-columns: 5rem 3fr;
  align-items: center;
}

#profile {
  display: grid;
  grid-template-columns: 5rem 1fr 1.5fr;
  align-items: center;
}

#header-input>input{
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: hsl(0, 0%, 90%);
}

#question-mark {
  justify-self: end;
  margin-right: 1rem;
}

#profile>#bell {
  justify-self: end;
  margin-right: 1rem;
}

#profile>#admin-profile-top {
  justify-self: center;
}

#profile>p {
  justify-self: start;
  font-weight: var(--font-weight);
  font-size: 1.2rem;
}

#bottom-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 0.5rem;
}

#bottom-profile {
  display: grid;
  grid-template-columns: 8rem 2fr;
}

#bottom-profile>img {
  width: 6rem;
  justify-self: center;
}

#bottom-profile> p {
  align-self: center;
  font-weight: var(--font-weight);
}

#bottom-profile>p>#top {
  font-size: 0.9rem;
}

#bottom-profile>p>#bottom {
  font-size: 1.5rem;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 0.5rem;
}

#buttons>button {
  width: 6.5rem;
  height: 2.5rem;
  background-color: var(--sidebar-btn-clr);
  color: white;
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--font-weight);
}

main {
    grid-area: main;
    background-color: var(--main-bg-clr);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2rem repeat(3, 0.5fr);
}

#projects>p {
  grid-column: 1 / 3;
  padding-left: 1.5rem;
  padding-top: 2.5rem;
  font-weight: var(--font-weight);
}

.cards {
  width: 90%;
  height: 70%;
  background-color: white;
  border-left: 0.5rem solid var(--card-border-clr);
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 85%);
}

.cards>p {
  padding-left: 1rem;
}

.cards>.card-title {
  align-self: end;
  font-weight: var(--font-weight);
}

.card-para {
  font-size: 0.9rem;
  color: hsl(0, 0%, 55%);
  padding-bottom: 1rem;
}

#card-icons {
  display: grid;
  grid-template-columns: 2fr repeat(3, 3rem);
  align-items: center;
  padding-bottom: 1rem;
}

main>#info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#announcements {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

#announcements>p {
  font-weight: var(--font-weight);
  padding-left: 1.2rem;
  padding-top: 2.5rem;
}

#announce-cards {
  width: 90%;
  height: 85%;
  background-color: white;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  margin-top: 1.3rem;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 85%);
}

.announcement-card {
  margin-top: 1rem;
}

#announcement-card1, #announcement-card2 {
  border-bottom: 1px solid grey;
}

.announcement-card>.announcement-title {
  font-weight: var(--font-weight);
  font-size: 0.9rem;
}

.announcement-card>.announcement-para {
  font-size: 0.8rem;
  color: hsl(0, 0%, 35%);
}

#trending {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

#trending>.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  height: 85%;
  background-color: white;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 85%);
  margin-bottom: 1.5rem;
}

#trending>p {
  font-weight: var(--font-weight);
  padding-left: 1.2rem;
  padding-top: 1rem;
}

#trending-logos {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#accounts {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.account-name {
  font-size: 0.9rem;
}

.account-info {
  font-size: 0.8rem;
  color: hsl(0, 0%, 35%);
}

.account-icons {
  width: 5rem;
}

